{% extends "base.html" %}

{% block title %}Les articles{% endblock %}


{% block content %}
	<h2>Les articles</h2>

	{% for article in listouille %}
	<div class="article">
		
		<img class="image_article" src="{{ article.photo.url }}" alt="Image de l'article : {{ article.photo.url }}"/>
		<h3>{{ article.titre|title }}</h3>
		<p>Age : {{ article.age|lower }}.</p>
		<p>Prix : {{ article.prix|lower }} €.</p>
		<p><a href="{% url "detail" article.id %}">Plus de détails sur cette <strong>référence {{ article.id }}</strong></a>.</p>
	</div>
	{% empty %}
		<p>Aucun article pour le moment.</p>
	
	{% endfor %}

	{# Mise en forme de la pagination ici #}
	{% if is_paginated %}
		<div class="pagination">
			   {% if page_obj.has_previous %}
				   <a href="?page={{ page_obj.previous_page_number }}">Précédente</a> —
			   {% endif %}
			   Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }} 
			   {% if page_obj.has_next %}
				  — <a href="?page={{ page_obj.next_page_number }}">Suivante</a>
			   {% endif %}
		</div>
	{% endif %}
{% endblock %}

{% block aside %}
	<h3>Nombre d'articles</h3>
	<p>Il y a actuelement {{ nb_ref }} références sur le site.</p>
	<h3>Conseils</h3>
	<p>Cliquez sur <strong>"Plus de détails"</strong> pour obtenir une description plus complète de l'article.</p>
{% endblock %}
