{% extends "base.html" %}

{% block title %}Pages des articles{% endblock %}


{% block content %}
	<h2>Tous les articles</h2>
	<p>
	{% for page in liste_pages %}
		<a class="lien_page_des_articles" href="{% url "les_articles" page %}">page {{ page }}</a>, 
	{% endfor %}
	</p>
	
	
	{# Mise en forme de la pagination ici #}
	{% if is_paginated %}
		<div class="pagination">
			   {% if page_obj.has_previous %}
				   <a href="?page={{ page_obj.previous_page_number }}">Précédente</a> —
			   {% endif %}
			   Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }} 
			   {% if page_obj.has_next %}
				  — <a href="?page={{ page_obj.next_page_number }}">Suivante</a>
			   {% endif %}
		</div>
	{% endif %}
{% endblock %}

{% block aside %}
	<h3>Information</h3>
	<p>Cliquez sur un lien <strong>"page"</strong> pour voir les articles de la page.</p>
{% endblock %}
