{% extends "base.html" %}

{% block title %}Résultat du filtre{% endblock %}


{% block content %}
	<h2>Résultat de votre filtre</h2>
	{% for article in liste_article %}
	<div class="article">
		
		<img class="image_article" src="{{ article.photo.url }}" alt="Image de l'article : {{ article.photo.url }}"/>
		<h3>{{ article.titre|title }}</h3>
		<p>Age : {{ article.age|lower }}.</p>
		<p>Prix : {{ article.prix }} €.</p>
		<p><a href="{% url "detail" article.id %}">Plus de détails sur cette <strong>référence {{ article.id }}</strong></a>.</p>
	</div>
	{% empty %}
		<p>Aucun article trouvé.</p>
	
	{% endfor %}
	<p><a href="#">Voir les autres articles</a></p>
{% endblock %}
