{% extends "base.html" %}

{% block title %}Contact{% endblock %}


{% block content %}
	<h2>Contact</h2>

	<div class="article">
		
		<h3>Par e-mail</h3>
		<p>cousinamelie08@gmail.com</p>
		
		<h3>Venez retirer votre commande</h3>
		<p>L'adresse où se trouve la plupart de nos articles :</p>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2526.909674663204!2d3.1872178000000013!3d50.7030607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c328bc74d90ddb%3A0xcac6bcd0e0b881ff!2sRue+de+Philippeville%2C+59100+Roubaix!5e0!3m2!1sfr!2sfr!4v1419276333460" width="600" height="450" frameborder="0" style="border:0"></iframe>

	</div>
{% endblock %}

{% block aside %}
	<h3>Conseils</h3>
	<p>Pour nous permettre de mieux répondre à votre demande, envoyez-nous les <strong>références</strong> des articles qui vous interessent.</p>
{% endblock %}
